**/ddp_tutorial/**
**/.vscode/**
**/.DS_Store
**/.ipynb_checkpoints/**
**/dataset/**
**/nohup.out
**/*.pyc
**/figures/**
**/MNIST/**
**.gz
*.log
transformer_tutorial/**
**/text_output/**
**/temp.txt
**/models/*
**/*.tgz
*.swp
